.pmpro-flex-wrapper {
  display: flex;
  gap: 50px;
  padding-top: 30px;
}

.pmpro-flex-wrapper .table-wrapper {
    height: 500px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.delete-coupon {
border:none;
}
.pmpro-flex-wrapper table {
border-collapse:collapse;
}
.pmpro-flex-wrapper table thead th {
  border: 1px solid;
  padding: 10px;
}
.pmpro-flex-wrapper table thead tr {
border:none;
}
.pmpro-flex-wrapper table tr {
  border:1px solid #000;
}
.pmpro-flex-wrapper table tr.deleted-row {
  background-color: #CCC;
  opacity: 0.8;
}
.pmpro-flex-wrapper table tr td {
  padding: 10px;
  border: 1px solid;
  text-align: center;
}

.pmpro-flex-wrapper .table-wrapper div.filters {
  display: flex;
  gap: 20px;
}
.pmpro-flex-wrapper .table-wrapper span.filters-label {
  display: inline-flex;
  align-items: end;
  gap: 5px;
}
.pmpro-flex-wrapper .table-wrapper span.filters {
  display: flex;
  gap: 20px;
}

.pmpro-flex-wrapper .table-wrapper  .radio-wrapper input[type="radio"] {
  margin:0;
}
