.pmpro-flex-wrapper {
  display: flex;
  flex-wrap: wrap;
justify-content: flex-start;
  gap: 50px;
}
.delete-coupon {
border:none;
}
table {
border-collapse:collapse;
}
table thead th {
  border: 1px solid;
  padding: 10px;
}
table thead tr {
border:none;
}
table tr {
  border:1px solid #000;
}
table tr.deleted-row {
  background-color: #CCC;
  opacity: 0.8;
}
table tr td {
  padding: 10px;
  border: 1px solid;
  text-align: center;
}
